<link href="~/css/LoginPage.css" rel="stylesheet" />

<div class="form-content">
    <img src="~/images/hearts desire new logo.png" />
    <h1>Hearts Desire Luxury</h1>
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <div class="forgot-pass-div"><a>Forgot password?</a></div>
    <button>Login</button>
</div>